<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <ul>
        <li th:each="balloon : ${balloons}">
            <th:block th:text="${balloon.getName()}"></th:block>
            <th:block th:text="${balloon.getDescription()}"></th:block>
            <th:block><form th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" th:method="DELETE">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form></th:block>
            <th:block><a th:href="@{'/balloons/edit-balloon/{id}' (id=${balloon.getId()})}" class="btn btn-sm btn-info">Edit</a></th:block>
        </li>
    </ul>
    <div>
        <a href="/balloons/add-balloon">Add new balloon</a>
    </div>
    <form method="POST" action="/balloons/selectBalloon">
    <h2>Choose balloon color:</h2>
    <label>
        <input type="radio" name="color" value="Red Balloon">
    </label> Red Balloon<br/>
    <label>
        <input type="radio" name="color" value="Green Balloon">
    </label> Green Balloon<br/>
    <label>
        <input type="radio" name="color" value="Yellow Balloon">
    </label> Yellow Balloon<br/>
    <label>
        <input type="radio" name="color" value="Blue Balloon">
    </label> Blue Balloon<br/>

    <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>